@font-face {
  font-family: 'Ma Shan Zheng';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(mashanzheng-400-0.woff2) format('woff2');
  unicode-range: U+20-7e, U+b7, U+203a, U+3002, U+4e00, U+4e0a, U+4e16, U+4e4b, U+4eba, U+4ece, U+4ed9, U+4f20, U+4f5c, U+4fee, U+5165, U+51e1, U+51fa, U+5230, U+5267, U+52a8, U+5373, U+5377, U+539f, U+53ca, U+540e, U+54c1, U+56fd, U+573a, U+5929, U+5b83, U+5b98, U+5c06, U+5c71, U+5f52, U+5f85, U+5fd8, U+60c5, U+6240, U+62e9, U+656c, U+65b9, U+65f6, U+6709, U+671f, U+6743, U+6751, U+6839, U+68b3, U+7248, U+7406, U+753b, U+754c, U+7684, U+7ebf, U+8005, U+8033, U+8457, U+8bed, U+8bf7, U+8d75, U+8def, U+8e0f, U+8fdb, U+9006, U+9009, U+90e8, U+957f, U+95f4, U+975e, U+ff0c;
}
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(notoserifsc-400-0.woff2) format('woff2');
  unicode-range: U+20-7e, U+b7, U+203a, U+3002, U+4e00, U+4e0a, U+4e16, U+4e4b, U+4eba, U+4ece, U+4ed9, U+4f20, U+4f5c, U+4fee, U+5165, U+51e1, U+51fa, U+5230, U+5267, U+52a8, U+5373, U+5377, U+539f, U+53ca, U+540e, U+54c1, U+56fd, U+573a, U+5929, U+5b83, U+5b98, U+5c06, U+5c71, U+5f52, U+5f85, U+5fd8, U+60c5, U+6240, U+62e9, U+656c, U+65b9, U+65f6, U+6709, U+671f, U+6743, U+6751, U+6839, U+68b3, U+7248, U+7406, U+753b, U+754c, U+7684, U+7ebf, U+8005, U+8033, U+8457, U+8bed, U+8bf7, U+8d75, U+8def, U+8e0f, U+8fdb, U+9006, U+9009, U+90e8, U+957f, U+95f4, U+975e, U+ff0c;
}
